:root {
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.book-tile {
    background-color: #FFD89C;
    border-radius: 1rem;
    padding: 1rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
    grid-column: 2 / 3;
    background-color: #F1C27B;
}

form {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 0.3rem;
    background: #A2CDB0;
    padding: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    min-height: 100vh;
    border-right: black 2px solid ;
}

input {
    border: none;
}

input[type=text] {
    padding: 0.5rem;
    border-radius: 2rem;
}

input[type=submit] {
    background-color: white;
    padding: 0.8rem;
    border-radius: 1rem;
}

input[type=checkbox] {
    align-self: flex-start;
}

form > label {
    font-weight: bold;
}

.book-tile > button {
    padding: 1em;
    background-color: #F1C27B;
    border: none;
    border-radius: 5px;
    margin-right: 1em;
}